<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p>Name: {{.user.Name}}</p>
    <p>Age: {{.user.Age}}</p>
    <p>gender: {{.user.Gender}}</p>
    <br>

    <p>Name: {{.m1.Name}}</p>
    <p>Age: {{.m1.Age}}</p>
    <p>gender: {{.m1.Gender}}</p>
    <br>
    {{$v1:=100}}
    {{if $v1}}
    {{$v1}}
    {{else}}
    没有任何的输出
    {{end}}
    <br>
    {{if lt .m1.Age 22}}
    ddd
    {{else}}
    fff
    {{end}}
    <br>
    {{range $index,$hob:=.hobb}}
        <p> {{$index}}---{{$hob}}</p>
    {{else}}
        nothing
    {{end}}


    {{with .m1}}
    <p>{{.Name}}</p>
    <p>{{.Age}}</p>
    {{end}}


    {{index .hobb 2}}
</body>
</html>